*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;

}

h1 {
  margin-top: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.film {
  position: relative;
  width: 50%;
  margin: 40px auto;
  margin-left: 40px;
  border: 1px solid grey;
  padding: 16px;
  overflow: hidden;
}

.film-poster {
  float: left;
  width: 260px;
  padding-right: 16px;
  position: relative;
}

.film-details {

}

.action-watch-later {
  position: absolute;
  padding-right: 16px;
  right: 10px;
  top: 10px;
  z-index: 1;
  color: red;
}

.action-like {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: red;
}
